<table border=0 cellspacing=0 cellpadding=0>
    <tr>
        <td style="background-color: #03002D; text-align:center" colspan=2 >
            <img src="https://raw.githubusercontent.com/AndreeaCCA/images/main/LOGO2.JPG" alt=""
                style="display: block;">
        </td>
    </tr>
    <tr>
        <td style="vertical-align:center; height: 400px;">
            <p>
            <h3>Estimado/a {{name}},</h3><br><br>
            <p>¡Acabas de recibir un mensaje de amor de parte de {{sender}}!</p>
            <p>Para poder vizualizarlo debes: </p>
            <p>Registrarte en el siguiente link</p>
            <p><a href="http://localhost:8081/#/SignUp">Registrarte</a></p>
            <p><a href="http://localhost:8081/#/LeMur">Acceder a tu mensaje</a></p>
            <br>
            
            <br />
            
            </p>
            <br><br>
            <p>Atentamente,</p>
            <p>Su equipo,</p>
            <p>Le Mur des J'ataime</p>
        </td>
        <td>
            <img src="https://raw.githubusercontent.com/AndreeaCCA/images/main/bannerred.jpg" width="300px" alt=""
                style="display: block;">
        </td>
    </tr>
    <tr>
        <td style="background-color: #03002D" colspan=2>
            <img src="https://raw.githubusercontent.com/AndreeaCCA/images/main/LOGO2.JPG" alt=""
                style="display: block;">
        </td>
    </tr>
</table>