<table border=0 cellspacing=0 cellpadding=0>
  <tr>
    <td style="background-color: #03002D" colspan=2>
      <img src="https://raw.githubusercontent.com/AndreeaCCA/images/main/LOGO2.JPG" alt="" style="display: block;">
    </td>
  </tr>
  <tr>
    <td style="vertical-align:center; height: 400px;">
      <p>
      <h3>Estimado/a {{name}},</h3><br><br>
      Alguien solicitó restablecer su contraseña de acceso a la cuenta "Le Mur des J'taime".
      Si no fue usted, ignore este correo electrónico.
      Para restablecer su contraseña, haga clic en el enlace a continuación:
      </p>
      <br><br>
      <a href="http://localhost:8081/#/ResetPassword?token={{token}}">Restablecer contraseña</a>
      <br><br>
      <p>Atentamente,</p>
      <p>Su equipo,</p>
      <p>Le Mur des J'ataime</p>
    </td>
    <td>
      <img src="https://raw.githubusercontent.com/AndreeaCCA/images/main/bannerred.jpg" width="300px" alt=""
        style="display: block;">
    </td>
  </tr>
  <tr>
    <td style="background-color: #03002D" colspan=2>
      <img src="https://raw.githubusercontent.com/AndreeaCCA/images/main/LOGO2.JPG" alt="" style="display: block;">
    </td>
  </tr>
</table>