<table border=0 cellspacing=0 cellpadding=0>
    <tr>
        <td style="background-color: #03002D" colspan=2>
            <img src="https://raw.githubusercontent.com/AndreeaCCA/images/main/LOGO2.JPG" alt=""
                style="display: block;">
        </td>
    </tr>
    <tr>
        <td style="vertical-align:center; height: 400px;">
            <p>
            <h3>Estimado/a {{name}},</h3><br><br>
            <p> ¡Su cuenta ha sido creada con exito!</p>
            <p> Su usuario es su correo electronico: {{email}}.</p>
            <p> Y su contraseña es la misma que utilizó en el formulario de registro.</p>
            <p> Para acceder a su cuenta, haga clic en el enlace a continuación:</p>
            </p>
            <br><br>
            <a href="http://localhost:8080/#/SignIn">Iniciar sesión</a>
            <br><br>
            <p>Atentamente,</p>
            <p>Su equipo, de Le Mur des J'ataime</p>
        </td>
        <td>
            <img src="https://raw.githubusercontent.com/AndreeaCCA/images/main/bannerred.jpg" width="300px" alt=""
                style="display: block;">
        </td>
    </tr>
    <tr>
        <td style="background-color: #03002D" colspan=2>
            <img src="https://raw.githubusercontent.com/AndreeaCCA/images/main/LOGO2.JPG" alt=""
                style="display: block;">
        </td>
    </tr>
</table>





{{!-- <br>
<h3>Hola {{name}},</h3>
<br>
<p>¡Gracias por registrarte con "Equipo Le Mur Des J'taime"!</p>
<p>Tu usuario es to correo: {{email}} <br />su contraseña es la misma que utilizó en el formulario de registro. </p>
<br>
<p>¡Hasta pronto!</p>
<p>Equipo Le Mur Des J'taime</p>
--}}